.toggle-btn .switch {
    position: relative;
    display: inline-block;
    width: 70px;
    height: 28px;
}
.font-size-5{
    font-size: 23px;
}
.toggle-btn .switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

.toggle-btn .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: red;
    -webkit-transition: .4s;
    transition: .4s;
}

.toggle-btn .slider:before {
    position: absolute;
    content: "";
    height: 20.4px;
    width: 20.4px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
}
.td-toggle .toggle-btn .switch {
    width: 50px;
    height: 20px;
}
.td-toggle .toggle-btn .slider:before {
    height: 15px;
    width: 15px;
    bottom: 3px;
}
.toggle-btn input:checked + .slider {
    background-color: green;
}

.toggle-btn input:focus + .slider {
    box-shadow: 0 0 1px #2196F3;
}

.toggle-btn input:checked + .slider:before {
    -webkit-transform: translateX(41px);
    -ms-transform: translateX(41px);
    transform: translateX(41px);
}
.td-toggle .toggle-btn input:checked + .slider:before {
    -webkit-transform: translateX(27px);
    -ms-transform: translateX(27px);
    transform: translateX(27px);
}


/* Rounded sliders */
.toggle-btn .slider.round {
    border-radius: 34px;
}

.toggle-btn .slider.round:before {
    border-radius: 50%;
}

.credit{
    border: none;
    background-color: #a22531;
    padding: 10px 21px !important;
    border-radius: 4px;
    color: white;
    cursor: pointer;
    transition: ease-in 0.3s;
}
.clickable{
    box-shadow: 2px 2px 10px #bdbdbd;
}
.credit:hover{
    color: white;
    transform: scale(1.05);
}
.chat-user-profile:hover{
    cursor: pointer;
}
.filter label{
    margin-bottom: 0;
    margin-right: 10px;
}
.filter select{
    border-radius: 10px;
    width: 11em;
    height: 31px;
}
.filter select:focus{
    /* border: none; */
    outline: none;
}
.sign-in-page{
    position: absolute; display:flex; width:100%; align-items:center;
}
.iq-navbar-custom{
    background: white;
}
.content-page { padding: 110px 15px 0; margin-right: 0 !important;}
input:focus{
    background-color: transparent !important;
}
select:focus, textarea:focus{
    background-color: transparent !important;
}
.sign-in-from h4{
    font-weight: bold;
    font-size: 30px;
}
.sign-in-page .container{
    min-height: 23em; width:35em;
}
select option{
    border-radius: 70px;
}
#datatable th{
    border-bottom: 0px;
}
div.dataTables_wrapper div.dataTables_length select{
    line-height: 21px !important;
}
.table-hover tbody tr:hover{
    cursor: pointer;
}
.select2-container--default .select2-selection--multiple .select2-selection__rendered {
    width: 69.3vw !important;
    background-color: transparent !important;
}
.select2-container--default .select2-selection--multiple{
    background-color: transparent !important;
    border: 1px solid #d7dbda !important;
    border-radius: 12px !important;
}
.asset .select2-container .select2-selection--single {
    height: 45px;
    border-radius: 10px;
    border: 1px solid #d7dbda;
    outline: none;

}
.input-group input{
    border-bottom-left-radius: 9px !important;
    border-top-left-radius: 9px !important;
}
.asset .select2-container--default .select2-selection--single .select2-selection__rendered {
    line-height: 45px;
    padding-left: 14px;
}
.asset .select2-container--default .select2-selection--single .select2-selection__arrow {
    height: 45px;
    right: 12px;
}
/* .searchbox */
.searchbox .dropdown .session-btn{
    width:25vw;
    height: 45px;
    font-size: 15px;
    
    border-color: #d7dbda;
}
.searchbox .session-dp ul{
    width:25vw;
    border-color: #d7dbda;
    background: #efeefd;
    margin-top: 10px;
    
}
.searchbox .session-dp ul a{
    padding: 4px 0;
    border-radius: 10px;
}
.searchbox .session-dp ul li.active a{
    color: white;
}
.searchbox .session-dp ul li.active{
    background: #1d2041 !important;
    border-radius: 10px;
}
.searchbox .session-dp ul li a{
    display: block;
    font-size: 13px;
    font-weight: bold;
}
.searchbox .session-dp ul li:hover a{
    background: #1d2041 !important;
    border:1px solid transparent;
    color: white;
}
.staff-edit .btn{
    padding: 10px 40px;
    
}
.remove-form .btn{
    padding: 0;
    border: 0;
    color: white;
}
.remove-course {
    background-color: #dc3545;
    border-radius: 3px;
    padding: 2px 4px;
}
.student-tabs .nav-link{
    padding: 10px 26px;
    font-size: 16px;
}
.student-tabs .nav-link.active{
    background: linear-gradient(to right, #272f54,#a22531);
    color: white;
}
.dataTables_wrapper .dataTables_paginate .paginate_button {
    padding: 0.5em 0 !important;
}
@media (min-width: 1300px){ 
    body.sidebar-main-active.right-column-fixed .iq-top-navbar {
        width: calc(100% - 140px);
    }
    body.sidebar-main-active.right-column-fixed .content-page .row{
        margin-left: 0;
        margin-right: 0;
    }
    body.sidebar-main-active.right-column-fixed .iq-footer {
        margin-left: 76px;
        margin-right: 0;
    }
}
@media (max-width: 1300px){ 
    .student-tabs{
        margin-left: -1rem;
    }
}
