/*---------------------------------------------------------------------
Variable
-----------------------------------------------------------------------*/


:root {
  --iq-bg-dark-bg: #272f54; 
  --iq-bg-light-color: #a22531;
  --iq-bg-dark-color: #1d203f;
  --iq-primary: #272f54;
  --iq-primary-light: #a22531;
  --iq-primary-dark: #6B69D2;
  --iq-secondary: #a22531;
  --iq-secondary-light: #c1c1c1;
  --iq-secondary-dark: #7d7d7d;
  --iq-success: #27b345;
  --iq-success-light: #45ce62;
  --iq-success-dark: #3dbb58;
  --iq-warning: #ffd369;
  --iq-warning-light: #ffd369;
  --iq-warning-dark: #fbc647;
  --iq-danger: #f14336;
  --iq-danger-light: #fd6256;
  --iq-danger-dark: #f35448;
  --iq-info: #6ce6f4;
  --iq-info-light: #6ce6f4;
  --iq-info-dark: #67ddea;
  --iq-dark: #3f414d;
  --iq-light: #E9EDF4;
  --iq-white: #ffffff;
  --iq-black: #000000;
  --iq-cyan: #0cd2e3;
  --iq-cobalt-blue: #3f79f1;
  --iq-spring-green: #1be1b3;
  --iq-amber: #f4b72a;
  --iq-pink: #FD6C9E;
}

